<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.bootstrap-v4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.917/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @*calendario*@
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.default.min.css")" rel="stylesheet" />
    @*Grid*@
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.default.mobile.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.silver.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2019.3.917/kendo.mobile.all.min.css")" rel="stylesheet" />
    <script src="~/Scripts/sweetAlert.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("input[class='NumDias k-textbox']").each(function (index) {
                $(this).attr('id', 'NumDias' + index);
            });

            $("span[class='blue']").each(function (index) {
                $(this).attr('id', 'SpanNumDias' + index);
            });

            $("span[class='SpanNombreEmpleado']").each(function (index) {
                $(this).attr('id', 'SpanNombreEmpleado' + index);
            });

            $("button[class='btn btn-lg btn-postobon']").each(function (index) {
                $(this).attr('id', 'btnAgregar' + index);
            });

        });
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Vacaciones</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @*@Html.ActionLink("Nomina Especial", "Index", "EjecutivosYPlanta", new { area = "" }, new { @class = "nav-link" })*@
                </li>
                <li class="nav-item">
                    @*@Html.ActionLink("Empleados", "Index", "EjecutivosYPlanta", new { area = "" }, new { @class = "nav-link" })*@
                </li>

                <li class="nav-item">
                    @*@Html.ActionLink("Anotador", "Index", "Anotador", new { area = "" }, new { @class = "nav-link" })*@
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container pb-0">
            <hr />
            <p>Copyright &copy; @DateTime.Now.Year All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>