<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

        $(document).ready(function () {

            (function ($) {
                $.fn.inputFilter = function (inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        }
                    });
                };
            }(jQuery));

            $("#NumDias0").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });

            $("#txtCedulaOtros").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });

             //Control de kendoCalendar
            var fechasConcatendas = @Html.Raw(Json.Encode(ViewBag.DiasFestivosSabadosDomingos));
            var inicioFecha = @Html.Raw(Json.Encode(ViewBag.InicioFecha));
            var finFecha = @Html.Raw(Json.Encode(ViewBag.FinFecha));
            var dates = [];
            var fechas = fechasConcatendas.split(",")

            for (var index = 0; index < fechas.length; index++) {
                dates.push(new Date(fechas[index]));
            }

            console.log(fechas);

            $(".kendocalendar").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: inicioFecha,
                max: finFecha,
                disableDates: dates
                ,change: function () {
                    if ($("#NumDias0").val() != '') {
                       //Calcular la fecha fin de vacaciones
                       $.getJSON("/Anotador/CalcularFechaFin", { NumeroDias: parseInt($("#NumDias0").val()), FechaInicio: $("#kendocalendar_0").val(), SabadoHabil: "@ViewBag.SabadoHabil", DiasFestivosSabadosDomingos: "@ViewBag.DiasFestivosSabadosDomingos" }, function (oRespuesta) {
                           switch (oRespuesta.Codigo) {

                               case "0":
                                   var fechas = oRespuesta.Resultado.Data.split("/");
                                   $("#kendocalendar_1").val(new Date(parseInt(fechas[2]), parseInt(fechas[1] - 1), parseInt(fechas[0])).toJSON().slice(0, 10).split('-').reverse().join('/'));
                                   break;

                               case "-1":
                                   swal.fire({
                                       text: respuesta.Mensaje,
                                       type: 'warning',
                                       confirmButtonText: "OK",
                                       confirmButtonColor: '#00AFF0',
                                       allowOutsideClick: false,
                                       allowEscapeKey: false
                                   }).then((result) => {
                                       if (result.value) {
                                           $("#kendocalendar_1").val('');
                                       }
                                   });
                                   break;
                           }
                       })
                   }
                }
            });



            $(".kendocalendar").attr("readonly", true);
            $(".kendocalendar").attr("placeholder", "DD/MM/AAAA");
            $("input[class='kendocalendar k-input']").each(function (index) {
                $(this).attr('id', 'kendocalendar_' + index);
            });


            $("#btnAgregar0").html('Agregar')

            //Creacion de la grid
            $("#rowSelection").kendoGrid({
                dataSource: {
                    data: "",
                    pageSize: 10
                },
                selectable: false,
                resizable: true,
                pageable: {
                    buttonCount: 5
                },
                scrollable: true,
                columns: [
                    {
                        field: "nmroDcmnto",
                        title: "Documento",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "nmbre_cmplto",
                        title: "Nombre completo",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                    },
                    {
                        field: "nmro_ds",
                        title: "Nro. de días a disfrutar",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "fcha_inco_vccns",
                        title: "Inicio de vacaciones",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                        template: "#= kendo.toString(kendo.parseDate(fcha_inco_vccns), 'dd/MM/yyyy') #"
                    },
                    {
                        field: "fcha_fn_vcc",
                        title: "Fin de vacaciones",
                        width: 100,
                        media: "(min-width: 50px)",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                        template: "#= kendo.toString(kendo.parseDate(fcha_fn_vcc), 'dd/MM/yyyy') #"
                    },
                    {
                        field: "nmbrs_slctnte",
                        title: "Nombres",
                        width: 100,
                        media: "(min-width: 100px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "apllds_slctnte",
                        title: "Apellidos",
                        width: 100,
                        media: "(min-width: 100px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "sbdo_hbl",
                        title: "Sabado Habil",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "fcha_hra_aprvc",
                        title: "Fecha Aprobacion",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "fcha_hra_rgstro_nvdd",
                        title: "Fecha Registro",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "crreo_slctnte",
                        title: "Correo Solicitante",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "crreo_jfe_slctnte",
                        title: "Correo Jefe Solicitante",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "codEmpldo",
                        title: "Codigo Empleado",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "idEstdoSlctd",
                        title: "Estado Solicitud",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "scdd",
                        title: "Sociedad",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "nmro_ds_dspnbls",
                        title: "Numero de dias disponibles",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "MinimoDias",
                        title: "Minimo dias motor de reglas",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "InicioFecha",
                        title: "Fecha de inicio para el calendario de la modal",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "FinFecha",
                        title: "Fecha de Fin para el calendario de la modal",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        field: "DiasFestivosSabadosDomingos",
                        title: "Cadena de string con los dias festivos, sabados y domingos",
                        width: 100,
                        media: "(min-width: 50px)",
                        hidden: true,
                        headerAttributes: {
                            style: "text-align: center"
                        }
                    },
                    {
                        title: "Acciones",
                        headerAttributes: {
                            style: "text-align: center"
                        },
                        columns: [
                            {
                                width: 80,
                                command: [
                                    {
                                        name: "Edit",
                                        text: "Editar",
                                        click: function (e) {


                                            //Se identifica la fila en la cual se le dio click al boton editar
                                            var item = this.dataItem($(e.currentTarget).closest("tr"));
                                            console.log(item);

                                            //Se abre la pantalla modal
                                            $("#ModalOtrosColaboradores").modal({
                                                //Evitar que se cierre la modal cuando se da click por fuera de ella
                                                backdrop: 'static'
                                            });


                                            //Se asignan los valores correspondientes
                                            $("#txtCedulaOtros").val(item.nmroDcmnto);
                                            $("#SpanNombreEmpleado1").html(item.nmbrs_slctnte);
                                            $("#SpanApellidoEmpleado1").html(item.apllds_slctnte);
                                            $("#SpanNumDias1").html(item.nmro_ds_dspnbls);
                                            $("#NumDias1").val(item.nmro_ds);
                                            $("#MinimoDiasModal").val(item.MinimoDias);
                                            $("#SabadoHabilModal").val(item.sbdo_hbl);
                                            $("#DiasFestivosSabadosDomingosModal").val(item.DiasFestivosSabadosDomingos);

                                            //Se muestran los botones nesesarios y se ocultan los que no se nesesitan
                                            $("#btnAgregar2").hide();
                                            $("#btnAgregarModal").hide();
                                            $("#btnEditarModal").show();


                                            //Se realizan las asignaciones correspondientes para crear el control del calendario
                                            var fechasConcatendasModal = item.DiasFestivosSabadosDomingos;
                                            var inicioFechaModal = item.InicioFecha;
                                            var finFechaModal = item.FinFecha;
                                            var datesModal = [];
                                            var fechasModal = fechasConcatendasModal.split(",")

                                            for (var index = 0; index < fechasModal.length; index++) {
                                                datesModal.push(new Date(fechasModal[index]));
                                            }
                                            console.log(fechasModal);


                                            var kendoDatePicker = $("#datepicker").data("kendoDatePicker");
                                            kendo.destroy(kendoDatePicker);
                                            $("#datepickerDiv").empty();
                                            $("#datepickerDiv").append('<input id="datepicker" style="width:inherit" />');

                                            $("#datepicker").kendoDatePicker({
                                                format: "dd/MM/yyyy",
                                                min: inicioFechaModal,
                                                max: finFechaModal,
                                                disableDates: datesModal,
                                                change: function () {
                                                    if ($("#NumDias1").val() != '') {
                                                        //Calcular la fecha fin de vacaciones
                                                        $.getJSON("/Anotador/CalcularFechaFin", {
                                                            NumeroDias: parseInt($("#NumDias1").val()),
                                                            FechaInicio: $("#datepicker").val(),
                                                            SabadoHabil: $("#SabadoHabilModal").val(),
                                                            DiasFestivosSabadosDomingos: $("#DiasFestivosSabadosDomingosModal").val(),
                                                        }, function (oRespuesta) {
                                                            switch (oRespuesta.Codigo) {

                                                                case "0":

                                                                    var fechas = oRespuesta.Resultado.Data.split("/");
                                                                    $("#kendocalendar_2").val(new Date(parseInt(fechas[2]), parseInt(fechas[1] - 1), parseInt(fechas[0])).toJSON().slice(0, 10).split('-').reverse().join('/'));
                                                                    break;

                                                                case "-1":
                                                                    swal.fire({
                                                                        text: oRespuesta.Mensaje,
                                                                        type: 'warning',
                                                                        confirmButtonText: "OK",
                                                                        confirmButtonColor: '#00AFF0',
                                                                        allowOutsideClick: false,
                                                                        allowEscapeKey: false
                                                                    }).then((result) => {
                                                                        if (result.value) {
                                                                            $("#kendocalendar_2").val('');
                                                                        }
                                                                    });
                                                                    break;
                                                            }
                                                        })
                                                    }
                                                }
                                            });

                                            $("#datepicker").attr("readonly", true);
                                            $("#datepicker").attr("placeholder", "DD/MM/AAAA");

                                            $("#datepicker").val(kendo.toString(kendo.parseDate(item.fcha_inco_vccns), 'dd/MM/yyyy'));
                                            $("#kendocalendar_2").val(kendo.toString(kendo.parseDate(item.fcha_fn_vcc), 'dd/MM/yyyy'));

                                        }
                                    }
                                ]
                            },
                            {
                                width: 90,
                                command: [
                                    {
                                        name: "Delete",
                                        text: "Eliminar",
                                        click: function (e) {
                                            swal.fire({
                                                text: "¿Está seguro que desea eliminar este registro?",
                                                type: 'warning',
                                                confirmButtonText: "Eliminar",
                                                confirmButtonColor: '#00AFF0',
                                                showCancelButton: true,
                                                cancelButtonText: "Cancelar",
                                                cancelButtonColor: '#5a6268',
                                                allowOutsideClick: false,
                                                allowEscapeKey: false
                                            }).then((result) => {
                                                if (result.value) {

                                                    var item = this.dataItem($(e.currentTarget).closest("tr"));
                                                    var grid = $("#rowSelection").data("kendoGrid");

                                                    $(grid.dataSource.data()).each(function (index) {
                                                        if (this.nmroDcmnto == item.Cedula) {
                                                            rowIndex = index;
                                                            row = grid.tbody.find(">tr:not(.k-grouping-row)").eq(rowIndex);
                                                            grid.removeRow(row);
                                                            swal.fire({
                                                                text: "Registro eliminado correctamente",
                                                                type: 'success',
                                                                confirmButtonText: "OK",
                                                                confirmButtonColor: '#00AFF0',
                                                                allowOutsideClick: false,
                                                                allowEscapeKey: false
                                                            });
                                                        }
                                                    });
                                                }
                                            });
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            });

             //Validacion del campo numero de dias en pantalla principal
            $("#NumDias0").focusout(function () {
                if ($("#NumDias0").val() != '') {
                    $.getJSON("/Anotador/ValidarCantidadDias", { NumeroDias: parseInt($("#NumDias0").val()), NumDiasDisponibles: parseFloat($("#SpanNumDias0").html()), MinimoDias : "@ViewBag.MinimoDias" }, function (respuesta) {

                        switch (respuesta.Codigo) {

                            case "1":
                                swal.fire({
                                    text: respuesta.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                }).then((result) => {
                                    if (result.value) {
                                        setTimeout(function () {
                                            $("#kendocalendar_1").val('');
                                            $("#NumDias0").val('');
                                            $("#NumDias0").focus();
                                        }, 500)
                                    }
                                });
                                break;

                            case "2":
                                swal.fire({
                                    text: respuesta.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                }).then((result) => {
                                    if (result.value) {
                                        setTimeout(function () {
                                            $("#kendocalendar_1").val('');
                                            $("#NumDias0").val('');
                                            $("#NumDias0").focus();
                                        }, 500)
                                    }
                                });
                                break;
                        }
                    })
                }
            });

            $("#NumDias0").change(function () {
                if ($("#NumDias0").val() != '' && $("#kendocalendar_0").val() != '') {
                    $.getJSON("/Anotador/CalcularFechaFin", { NumeroDias: parseInt($("#NumDias0").val()), FechaInicio: $("#kendocalendar_0").val(), SabadoHabil: "@ViewBag.SabadoHabil", DiasFestivosSabadosDomingos: "@ViewBag.DiasFestivosSabadosDomingos" }, function (oRespuesta) {
                        switch (oRespuesta.Codigo) {

                               case "0":
                                   var fechas = oRespuesta.Resultado.Data.split("/");
                                   $("#kendocalendar_1").val(new Date(parseInt(fechas[2]), parseInt(fechas[1] - 1), parseInt(fechas[0])).toJSON().slice(0, 10).split('-').reverse().join('/'));
                                   break;

                               case "-1":
                                   swal.fire({
                                       text: oRespuesta.Mensaje,
                                       type: 'warning',
                                       confirmButtonText: "OK",
                                       confirmButtonColor: '#00AFF0',
                                       allowOutsideClick: false,
                                       allowEscapeKey: false
                                   }).then((result) => {
                                       if (result.value) {
                                           $("#kendocalendar_1").val('');
                                       }
                                   });
                                   break;
                           }
                       })
                   }
            });


            //Evento del boton aregar dentro de la ventana Principal
            $("#btnAgregar0").click(function () {
                if ($("#NroIdentificacionHidden").val() != '' && $("#NumDias0").val() != '' && $("#kendocalendar_0").val() != '') {
                    $.post("../Anotador/AgregarOEditarEmpleado", {
                        NroIdentificacion: $("#NroIdentificacionHidden").val(),
                        NombresEmpleado: "@ViewBag.NombresEmpleado",
                        ApellidosEmpleado: "@ViewBag.ApellidosEmpleado",
                        NumeroDias: $("#NumDias0").val(),
                        NumeroDiasDisponibles: $("#SpanNumDias0").html(),
                        EsEdit: false,
                        EsModal : false,
                        FechaInicio: $("#kendocalendar_0").val(),
                        FechaFin: $("#kendocalendar_1").val(),
                        DataActual: JSON.stringify($('#rowSelection').data("kendoGrid").dataSource.data()),
                        oRespuestaSAP: @Html.Raw(Json.Encode(@ViewBag.oRespuestaSAPModels)),
                        DiasFestivosSabadosDomingos: @Html.Raw(Json.Encode(ViewBag.DiasFestivosSabadosDomingos)),
                        oRespuestaMotor : @Html.Raw(Json.Encode(@ViewBag.oRespuestaMotor)),
                    }, function (oRespuestaAgregarOEditarEmpleado) {

                        switch (oRespuestaAgregarOEditarEmpleado.Codigo) {

                            case "1":
                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);

                                $("#NumDias0").val('');
                                $("#kendocalendar_0").val('');
                                $("#kendocalendar_1").val('');
                                $('#ModalOtrosColaboradores').modal('hide')

                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'success',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break

                            case "2":

                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);

                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break

                            case "3":

                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);
                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break

                            case "-1":

                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);


                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break
                        }
                    });
                }
                else {
                    swal.fire({
                        text: "Debe ingresar el número de días y la fecha de inicio para la solicitud de vacaciones",
                        type: 'warning',
                        confirmButtonText: "Ok",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                };
            });


            //Ventana Modal
            //Validacion del campo numero de dias
             $("#NumDias1").focusout(function () {
                if ($("#NumDias1").val() != '') {
                    $.getJSON("/Anotador/ValidarCantidadDias", { NumeroDias: parseInt($("#NumDias1").val()), NumDiasDisponibles: parseFloat($("#SpanNumDias1").html()), MinimoDias: $("#MinimoDiasModal").val() }, function (respuesta) {

                        switch (respuesta.Codigo) {

                            case "1":
                                swal.fire({
                                    text: respuesta.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                }).then((result) => {
                                    if (result.value) {
                                        setTimeout(function () {
                                            $("#kendocalendar_2").val('');
                                            $("#NumDias1").val('');
                                            $("#NumDias1").focus();
                                        }, 500)
                                    }
                                });
                                break;

                            case "2":
                                swal.fire({
                                    text: respuesta.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                }).then((result) => {
                                    if (result.value) {
                                        setTimeout(function () {
                                            $("#kendocalendar_1").val('');
                                            $("#NumDias0").val('');
                                            $("#NumDias0").focus();
                                        }, 500)
                                    }
                                });
                                break;
                        }
                    })
                }
            });

            $("#NumDias1").change(function () {
                if ($("#NumDias1").val() != '' && $("#datepicker").val() != '') {
                    $.getJSON("/Anotador/CalcularFechaFin", {
                        NumeroDias: parseInt($("#NumDias1").val()),
                        FechaInicio: $("#datepicker").val(),
                        SabadoHabil: $("#SabadoHabilModal").val(),
                        DiasFestivosSabadosDomingos: $("#DiasFestivosSabadosDomingosModal").val()
                    }, function (oRespuesta) {
                        switch (oRespuesta.Codigo) {

                               case "0":
                                   var fechas = oRespuesta.Resultado.Data.split("/");
                                   $("#kendocalendar_2").val(new Date(parseInt(fechas[2]), parseInt(fechas[1] - 1), parseInt(fechas[0])).toJSON().slice(0, 10).split('-').reverse().join('/'));
                                   break;

                               case "-1":
                                   swal.fire({
                                       text: oRespuesta.Mensaje,
                                       type: 'warning',
                                       confirmButtonText: "OK",
                                       confirmButtonColor: '#00AFF0',
                                       allowOutsideClick: false,
                                       allowEscapeKey: false
                                   }).then((result) => {
                                       if (result.value) {
                                           $("#kendocalendar_2").val('');
                                       }
                                   });
                                   break;
                           }
                       })
                   }
            });

            //btnBuscar en la pantalla principal, donde se abre la ventana modal
            $("#btnOtrosColaboradoresModal").click(function () {
                if ($("#txtCedulaOtros").val() != '') {
                    var exis = false;

                    $($('#rowSelection').data("kendoGrid").dataSource.data()).each(function (index) {
                        if (this.nmroDcmnto == $("#txtCedulaOtros").val()) {
                                                        exis = true;
                        }
                    });

                    if (!exis) {

                        $.getJSON("/Anotador/ConsultarUserSAP", { NroDocumento: parseInt($("#txtCedulaOtros").val()) }, function (oRespuestaSAP) {

                            $("#DivFondoTrasparente").hide();
                            $("#DivCirculoAzul").hide();

                            switch (oRespuestaSAP.Codigo) {
                                case "4":

                                    $("#DivFondoTrasparente").show();
                                    $("#DivCirculoAzul").show();

                                    $.post("../Anotador/ConsultaMotorDeReglas", { RespuestaSAP: JSON.stringify(oRespuestaSAP.Resultado.Data) }, function (oRespuestaMotorReglas) {

                                        $("#DivFondoTrasparente").hide();
                                        $("#DivCirculoAzul").hide();

                                        switch (oRespuestaMotorReglas.Codigo) {
                                            case "1":
                                                $.post("../Anotador/ArmarObjetoPantallaModal", { RespuestaMotor: JSON.stringify(oRespuestaMotorReglas.Resultado.Data), RespuestaSAP: JSON.stringify(oRespuestaSAP.Resultado.Data) }, function (oRespuestaArmarObjetoPantallaModal) {

                                                    switch (oRespuestaArmarObjetoPantallaModal.Codigo) {
                                                        case "1":
                                                            //Se manda a abrir la pantalla modal
                                                            $("#ModalOtrosColaboradores").modal({
                                                                //Evitar que se cierre la modal cuando se da click por fuera de ella
                                                                backdrop: 'static'
                                                            });

                                                            //Se muestran botones y se ocultan otros que no son nesesario
                                                            $("#btnAgregarModal").show();
                                                            $("#btnCancelarModal").show();
                                                            $("#btnEditarModal").hide();
                                                            $("#btnAgregar2").hide();

                                                            //Se guardan los valores importantes para poder editar o guardar los registros mas adelante
                                                            $("#MinimoDiasModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.MinimoDias);
                                                            $("#InicioFechaModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.InicioFecha);
                                                            $("#FinFechaModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.FinFecha);
                                                            $("#SabadoHabilModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.SabadoHabil);
                                                            $("#DiasFestivosSabadosDomingosModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.DiasFestivosSabadosDomingos);
                                                            $("#CorreoSolicitanteModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.CorreoSolicitante);
                                                            $("#CorreoJefeSolicitanteModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.CorreoJefeSolicitante);
                                                            $("#CodigoEmpleadoModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.CodigoEmpleado);
                                                            $("#SociedadModal").val(oRespuestaArmarObjetoPantallaModal.Resultado.Data.Sociedad);
                                                            $("#SpanNumDias1").html(oRespuestaArmarObjetoPantallaModal.Resultado.Data.NroDias);
                                                            $("#SpanNombreEmpleado1").html(oRespuestaArmarObjetoPantallaModal.Resultado.Data.NombreEmpleado);
                                                            $("#SpanApellidoEmpleado1").html(oRespuestaArmarObjetoPantallaModal.Resultado.Data.ApellidoEmpleado);


                                                            //Se realizan las asignaciones correspondientes para crear el control del calendario
                                                            var fechasConcatendasModal = $("#DiasFestivosSabadosDomingosModal").val();
                                                            var inicioFechaModal = $("#InicioFechaModal").val();
                                                            var finFechaModal = $("#FinFechaModal").val();
                                                            var datesModal = [];
                                                            var fechasModal = fechasConcatendasModal.split(",")
                                                            for (var index = 0; index < fechasModal.length; index++) {
                                                                datesModal.push(new Date(fechasModal[index]));
                                                            }

                                                            var kendoDatePicker = $("#datepicker").data("kendoDatePicker");
                                                            kendo.destroy(kendoDatePicker);
                                                            $("#datepickerDiv").empty();
                                                            $("#datepickerDiv").append('<input id="datepicker" style="width:inherit" />');

                                                            $("#datepicker").kendoDatePicker({
                                                                format: "dd/MM/yyyy",
                                                                min: inicioFechaModal,
                                                                max: finFechaModal,
                                                                disableDates: datesModal,
                                                                change: function () {
                                                                    if ($("#NumDias1").val() != '') {
                                                                        //Calcular la fecha fin de vacaciones
                                                                        $.getJSON("/Anotador/CalcularFechaFin", {
                                                                            NumeroDias: parseInt($("#NumDias1").val()),
                                                                            FechaInicio: $("#datepicker").val(),
                                                                            SabadoHabil: $("#SabadoHabilModal").val(),
                                                                            DiasFestivosSabadosDomingos: $("#DiasFestivosSabadosDomingosModal").val()
                                                                        }, function (oRespuesta) {
                                                                            switch (oRespuesta.Codigo) {

                                                                                case "0":

                                                                                    var fechas = oRespuesta.Resultado.Data.split("/");
                                                                                    $("#kendocalendar_2").val(new Date(parseInt(fechas[2]), parseInt(fechas[1] - 1), parseInt(fechas[0])).toJSON().slice(0, 10).split('-').reverse().join('/'));
                                                                                    break;

                                                                                case "-1":
                                                                                    swal.fire({
                                                                                        text: oRespuesta.Mensaje,
                                                                                        type: 'warning',
                                                                                        confirmButtonText: "OK",
                                                                                        confirmButtonColor: '#00AFF0',
                                                                                        allowOutsideClick: false,
                                                                                        allowEscapeKey: false
                                                                                    }).then((result) => {
                                                                                        if (result.value) {
                                                                                            $("#kendocalendar_2").val('');
                                                                                        }
                                                                                    });
                                                                                    break;
                                                                                }
                                                                            })
                                                                    }
                                                                }
                                                            });

                                                            $("#datepicker").attr("readonly", true);
                                                            $("#datepicker").attr("placeholder", "DD/MM/AAAA");
                                                            break

                                                        case "-3":
                                                            swal.fire({
                                                                text: oRespuestaArmarObjetoPantallaModal.Mensaje,
                                                                type: 'error',
                                                                confirmButtonText: "OK",
                                                                confirmButtonColor: '#00AFF0',
                                                                allowOutsideClick: false,
                                                                allowEscapeKey: false
                                                            });
                                                            break
                                                    }
                                                });

                                                break;

                                            case "-1":
                                                swal.fire({
                                                    text: oRespuestaMotorReglas.Mensaje,
                                                    type: 'error',
                                                    confirmButtonText: "OK",
                                                    confirmButtonColor: '#00AFF0',
                                                    allowOutsideClick: false,
                                                    allowEscapeKey: false
                                                });
                                                break;

                                            case "-2":
                                                swal.fire({
                                                    text: oRespuestaMotorReglas.Mensaje,
                                                    type: 'error',
                                                    confirmButtonText: "OK",
                                                    confirmButtonColor: '#00AFF0',
                                                    allowOutsideClick: false,
                                                    allowEscapeKey: false
                                                });
                                                break;

                                            case "-3":
                                                swal.fire({
                                                    text: oRespuestaMotorReglas.Mensaje,
                                                    type: 'error',
                                                    confirmButtonText: "OK",
                                                    confirmButtonColor: '#00AFF0',
                                                    allowOutsideClick: false,
                                                    allowEscapeKey: false
                                                });
                                                break;
                                        }
                                    });
                                    break;

                                case "3":
                                    swal.fire({
                                        text: oRespuestaSAP.Mensaje,
                                        type: 'error',
                                        confirmButtonText: "OK",
                                        confirmButtonColor: '#00AFF0',
                                        allowOutsideClick: false,
                                        allowEscapeKey: false
                                    });
                                    break;

                                case "2":
                                    swal.fire({
                                        text: oRespuestaSAP.Mensaje,
                                        type: 'error',
                                        confirmButtonText: "OK",
                                        confirmButtonColor: '#00AFF0',
                                        allowOutsideClick: false,
                                        allowEscapeKey: false
                                    });
                                    break;

                                case "1":
                                    swal.fire({
                                        text: oRespuestaSAP.Mensaje,
                                        type: 'error',
                                        confirmButtonText: "OK",
                                        confirmButtonColor: '#00AFF0',
                                        allowOutsideClick: false,
                                        allowEscapeKey: false
                                    });
                                    break;
                            }
                        });
                    }
                    else {
                        swal.fire({
                            text: "El empleado ya se encuentra agregado en la lista. Verifique la información e inténtelo de nuevo",
                            type: 'warning',
                            confirmButtonText: "OK",
                            confirmButtonColor: '#00AFF0',
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        });
                    }

                }
                else {
                    swal.fire({
                        text: "Debe ingresar un Nro. de identificación",
                        type: 'warning',
                        confirmButtonText: "OK",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    });
                }
            });

            //BTN GUARDAR
            $("#btnAgregar1").click(function () {
                if ($($('#rowSelection').data("kendoGrid").dataSource.data()).length > 0) {

                    $.post("../Anotador/GuardarSolicitud", {
                        NroIdentificacionAnotador: $("#NroIdentificacionHidden").val(),
                        NombresEmpleadoAnotador: $("#SpanNombreEmpleado0").html(),
                        ApellidosEmpleadoAnotador: $("#SpanApellidoEmpleado0").html(),
                        oRespuestaSAP: @Html.Raw(Json.Encode(@ViewBag.oRespuestaSAPModels)),
                        oRespuestaMotor: @Html.Raw(Json.Encode(@ViewBag.oRespuestaMotor)),
                        oDataActual: JSON.stringify($('#rowSelection').data("kendoGrid").dataSource.data()),

                    }, function (oRespuestaGuardar) {
                        switch (oRespuestaGuardar.Codigo) {
                            case "1":
                                //Aqui se debe hacer el envio de la notificacion
                                swal.fire({
                                    text: oRespuestaGuardar.Mensaje,
                                    type: 'success',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                }).then((result) => {
                                    if (result.value) {
                                        var url = "@Url.Action("Index", "Home",  null)";
                                        window.location.href = url
                                        }
                                    });
                                break

                            case "-3":
                                swal.fire({
                                    text: oRespuestaGuardar.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break
                        }
                    });
                }
                else {
                    swal.fire({
                        text: "Debe ingresar mínimo un ítem a la lista",
                        type: 'warning',
                        confirmButtonText: "Ok",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                }
            });

            //Se limpian los valores de la ventana modal cuando se cierran
            $('#ModalOtrosColaboradores').on('hidden.bs.modal', function () {
                $("#datepicker").data("kendoDatePicker").value(null);
                $("#kendocalendar_2").data("kendoDatePicker").value(null);
                $("#NumDias1").val('');
                $("#txtCedulaOtros").val('');
                $("#MinimoDiasModal").val('');
                $("#InicioFechaModal").val('');
                $("#FinFechaModal").val('');
                $("#SabadoHabilModal").val('');
                $("#DiasFestivosSabadosDomingosModal").val('');
                $("#CorreoSolicitanteModal").val('');
                $("#CorreoJefeSolicitanteModal").val('');
                $("#CodigoEmpleadoModal").val('');
                $("#SociedadModal").val('');
                $("#SpanNumDias1").html('');
                $("#SpanNombreEmpleado1").html('');
                $("#SpanApellidoEmpleado1").html


            });

                                    //Boton de agregar un nuevo registro desde la pantalla modal
            $("#btnAgregarModal").click(function () {
                if ($("#txtCedulaOtros").val() != '' && $("#NumDias1").val() != '' && $("#datepicker").val() != '' ) {
                    $.post("../Anotador/AgregarOEditarEmpleado", {
                        NroIdentificacion: $("#txtCedulaOtros").val(),
                        NombresEmpleado: $("#SpanNombreEmpleado1").html(),
                        ApellidosEmpleado: $("#SpanApellidoEmpleado1").html(),
                        NumeroDias: $("#NumDias1").val(),
                        NumeroDiasDisponibles: $("#SpanNumDias1").html(),
                        EsEdit: false,
                        EsModal: true,
                        FechaInicio: $("#datepicker").val(),
                        FechaFin: $("#kendocalendar_2").val(),
                        DataActual: JSON.stringify($('#rowSelection').data("kendoGrid").dataSource.data()),
                        SabadoHabil: $("#SabadoHabilModal").val(),
                        CorreoSolicitante: $("#CorreoSolicitanteModal").val(),
                        CorreoJefeSolicitante: $("#CorreoJefeSolicitanteModal").val(),
                        CodigoEmpleado: $("#CodigoEmpleadoModal").val(),
                        Sociedad: $("#SociedadModal").val(),
                        MinimoDias: $("#MinimoDiasModal").val(),
                        InicioFecha: kendo.toString(kendo.parseDate($("#InicioFechaModal").val()), 'dd/MM/yyyy') ,
                        FinFecha: kendo.toString(kendo.parseDate($("#FinFechaModal").val()), 'dd/MM/yyyy') ,
                        DiasFestivosSabadosDomingos: $("#DiasFestivosSabadosDomingosModal").val(),


                    }, function (oRespuestaAgregarOEditarEmpleado) {

                        switch (oRespuestaAgregarOEditarEmpleado.Codigo) {

                            case "1":
                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);

                                $("#NumDias0").val('');
                                $("#kendocalendar_0").val('');
                                $("#kendocalendar_1").val('');
                                $('#ModalOtrosColaboradores').modal('hide')

                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'success',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break

                            case "2":

                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);

                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break

                            case "3":

                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);
                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'warning',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break

                            case "-1":

                                $('#rowSelection').data("kendoGrid").dataSource.data(oRespuestaAgregarOEditarEmpleado.Resultado.Data);


                                swal.fire({
                                    text: oRespuestaAgregarOEditarEmpleado.Mensaje,
                                    type: 'error',
                                    confirmButtonText: "OK",
                                    confirmButtonColor: '#00AFF0',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                });
                                break
                        }
                        });
                }
                else {
                    swal.fire({
                        text: "Debe ingresar el número de días y la fecha de inicio para la solicitud de vacaciones",
                        type: 'warning',
                        confirmButtonText: "Ok",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                };
            });


            //Evento del boton Editar dentro de la ventana modal
            $("#btnEditarModal").click(function () {
                if ($("#txtCedulaOtros").val() != '' && $("#NumDias1").val() != '' && $("#datepicker").val() != '' ) {
                    $.post("../Anotador/AgregarOEditarEmpleado", {
                        NroIdentificacion: $("#txtCedulaOtros").val(),
                        NombresEmpleado: $("#SpanNombreEmpleado1").html(),
                        ApellidosEmpleado: $("#SpanApellidoEmpleado1").html(),
                        NumeroDias: $("#NumDias1").val(),
                        NumeroDiasDisponibles: $("#SpanNumDias1").html(),
                        EsEdit: true,
                        EsModal: true,
                        FechaInicio: $("#datepicker").val(),
                        FechaFin: $("#kendocalendar_2").val(),
                        DataActual: JSON.stringify($('#rowSelection').data("kendoGrid").dataSource.data()),
                        SabadoHabil: $("#SabadoHabilModal").val(),
                        CorreoSolicitante: $("#CorreoSolicitanteModal").val(),
                        CorreoJefeSolicitante: $("#CorreoJefeSolicitanteModal").val(),
                        CodigoEmpleado: $("#CodigoEmpleadoModal").val(),
                        Sociedad: $("#SociedadModal").val(),
                        MinimoDias: $("#MinimoDiasModal").val(),
                        InicioFecha: kendo.toString(kendo.parseDate($("#InicioFechaModal").val()), 'dd/MM/yyyy'),
                        FinFecha: kendo.toString(kendo.parseDate($("#FinFechaModal").val()), 'dd/MM/yyyy'),
                        DiasFestivosSabadosDomingos: $("#DiasFestivosSabadosDomingosModal").val(),

                    }, function (d) {
                        if (d.Codigo == 2) {
                            swal.fire({
                                text: d.Mensaje,
                                type: 'warning',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                        }
                        else {
                            $('#rowSelection').data("kendoGrid").dataSource.data(d.Resultado.Data);
                            swal.fire({
                                text: d.Mensaje,
                                type: 'success',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            });
                            $('#ModalOtrosColaboradores').modal('hide')
                        }
                    });
                }
                else {
                    swal.fire({
                        text: "Debe ingresar el número de días y la fecha de inicio para la solicitud de vacaciones",
                        type: 'warning',
                        confirmButtonText: "Ok",
                        confirmButtonColor: '#00AFF0',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                };
            });



        });

    </script>

</head>
<body>
    <div class="jumbotron">

        <div class="jumbotron-cuerpo">
            @Html.Partial("_EncabezadoEscenario")
            @Html.Partial("_CuerpoEscenario")
            @Html.Partial("_OtrosColaboradoresEscenario")
            @Html.Partial("_GridEmpleados")
        </div>



        <div class="modal fade  bd-example-modal-lg " id="ModalOtrosColaboradores" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="jumbotron-cuerpo">
                            @Html.Partial("_ModalAnotadores")
                        </div>
                        <div class="jumbotron-cuerpo center">
                            <button id="btnAgregarModal" type="button" class="btn btn-light btn-lg btn-postobon">Agregar</button>
                            <button id="btnEditarModal" type="button" class="btn btn-light btn-lg  btn-postobon">Agregar</button>
                            <button id="btnCancelarModal" type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Campos Ocultos Pantalla Modal*@
        <div>
            <input id="MinimoDiasModal" type="hidden" />
            <input id="InicioFechaModal" type="hidden" />
            <input id="FinFechaModal" type="hidden" />
            <input id="SabadoHabilModal" type="hidden" />
            <input id="DiasFestivosSabadosDomingosModal" type="hidden" />
            <input id="CorreoSolicitanteModal" type="hidden" />
            <input id="CorreoJefeSolicitanteModal" type="hidden" />
            <input id="CodigoEmpleadoModal" type="hidden" />
            <input id="SociedadModal" type="hidden" />
        </div>

    </div>
</body>
</html>


