<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/FormScripts/Anotador.js"></script>

    @Html.Hidden("fechasConcatendas", (string)ViewBag.DiasFestivosSabadosDomingos)
    @Html.Hidden("inicioFecha", (HtmlString)@Html.Raw(Json.Encode(ViewBag.InicioFecha)))
    @Html.Hidden("finFecha", (HtmlString)@Html.Raw(Json.Encode(ViewBag.FinFecha)))
    @Html.Hidden("MinimoDias", (string)Json.Encode(ViewBag.MinimoDias))
    @Html.Hidden("NombresEmpleado", (string)ViewBag.NombresEmpleado)
    @Html.Hidden("ApellidosEmpleado", (string)ViewBag.ApellidosEmpleado)
    @Html.Hidden("oRespuestaSAPModels", (string)@ViewBag.oRespuestaSAPModels)
    @Html.Hidden("oRespuestaMotor", (string)@ViewBag.oRespuestaMotor)
    @Html.Hidden("NroMinDiasCorreoCompensacion", (HtmlString)@Html.Raw(Json.Encode(@ViewBag.NroMinDiasCorreoCompensacion)))
    @Html.Hidden("CorreoCompensacion", (string)ViewBag.CorreoCompensacion)
    @Html.Hidden("CorreoAnotador", (string)ViewBag.CorreoAnotador)
    @Html.Hidden("TieneVacacione", (string)ViewBag.TieneVacaciones)


    <script>

        $(document).ready(function () {

            var URL = "@Url.Action("Index", "FinVacaciones",  null)";
            $("#NumDias0").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });

            $("#txtCedulaOtros").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });

            crearCalendarioPaginaPrincipal();

            $(".kendocalendar").attr("readonly", true);
            $(".kendocalendar").attr("placeholder", "DD/MM/AAAA");
            $("input[class='kendocalendar k-input']").each(function (index) {
                $(this).attr('id', 'kendocalendar_' + index);
            });

            $('#kendocalendar_1').data('kendoDatePicker').enable(false);
            $('#kendocalendar_2').data('kendoDatePicker').enable(false);


            $("#btnAgregar0").html('Agregar');

            crearGrid();
            validarNumDias();
            calcularFechaFin();
            agregarItemLista();
            validarNumDiasModal();
            calcularFechaFinModal();
            buscarEmpleado();
            guardarPantallaPrincipal(URL);
            limpiarPantalla();
            agregarPantallaModal();
            editarPantallaModal();


        });

    </script>

</head>
<body>
    <div class="jumbotron">

        <div class="jumbotron-cuerpo">
            @Html.Partial("_EncabezadoEscenario")
            @Html.Partial("_CuerpoEscenario")
            @Html.Partial("_OtrosColaboradoresEscenario")
            @Html.Partial("_GridEmpleados")
        </div>

        <div class="modal fade  bd-example-modal-lg " id="ModalOtrosColaboradores" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="jumbotron-cuerpo">
                            @Html.Partial("_ModalAnotadores")
                        </div>
                        <div class="jumbotron-cuerpo center">
                            <button id="btnAgregarModal" type="button" class="btn btn-light btn-lg btn-postobon">Agregar</button>
                            <button id="btnEditarModal" type="button" class="btn btn-light btn-lg  btn-postobon">Agregar</button>
                            <button id="btnCancelarModal" type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Campos Ocultos Pantalla Modal*@
        <div>
            <input id="MinimoDiasModal" type="hidden" />
            <input id="InicioFechaModal" type="hidden" />
            <input id="FinFechaModal" type="hidden" />
            <input id="SabadoHabilModal" type="hidden" />
            <input id="DiasFestivosSabadosDomingosModal" type="hidden" />
            <input id="CorreoSolicitanteModal" type="hidden" />
            <input id="CorreoJefeSolicitanteModal" type="hidden" />
            <input id="CodigoEmpleadoModal" type="hidden" />
            <input id="SociedadModal" type="hidden" />
            <input id="MinimoDiasCorreoCompensacionModal" type="hidden" />
            <input id="CorreoCompensacionModal" type="hidden" />
        </div>

    </div>
</body>
</html>


