@model Vacaciones.Models.Persona
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

        $(document).ready(function () {

            //Evitar que se cierre la modal cuando se da click por fuera de ella
            $("#btnOtrosColaboradoresModal").click(function () {
                $("#ModalOtrosColaboradores").modal({
                    backdrop: 'static',
                }
                );
            });

            //Se limpian los valores de la ventana modal
            $('#ModalOtrosColaboradores').on('hidden.bs.modal', function (e) {
                $("#kendocalendar_2").data("kendoDatePicker").value(null);
                $("#kendocalendar_3").data("kendoDatePicker").value(null);
                $("#NumDias1").val('');
            })

            $.getJSON("/Anotador/ConsultarListaEmpleado", function (json) {
                $("#rowSelection").kendoGrid({
                    dataSource: {
                        data: json,
                        pageSize: 5
                    },
                    selectable: "single",
                    pageable: {
                        buttonCount: 5
                    },
                    scrollable: false,
                    navigatable: true,
                    columns: [
                        {
                            field: "Cedula",
                            title: "Cedula"
                        },
                        {
                            field: "NumeroDias",
                            title: "Numero de dias"
                        },
                        {
                            field: "FechaInicio",
                            title: "Fecha de inicio"
                        },
                        {
                            field: "FechaFin",
                            title: "Fecha de fin"
                        }
                    ]
                });
            });

            $('#btnAgregar').click(function () {
                $.post("../Anotador/AgregarEmpleado", { Cedula: "1234567", NumeroDias: $("#NumDias1").val(), FechaInicio: $("#kendocalendar_2").val(), FechaFin: $("#kendocalendar_3").val(), DataActual: JSON.stringify($('#rowSelection').data("kendoGrid").dataSource.data()) }, function (d) {

                    if (d.Codigo == 2) {
                        alert(d.Mensaje);
                    }
                    else {
                        alert(d.Mensaje);
                        $("#rowSelection").kendoGrid({
                            dataSource: {
                                data: d.Resultado.Data,
                                pageSize: 5
                            },
                            selectable: "single",
                            pageable: {
                                buttonCount: 5
                            },
                            scrollable: false,
                            navigatable: true
                        });
                    }
                });
            });




        });
    </script>

</head>
<body>
    <div class="jumbotron">

        <div class="jumbotron-cuerpo">
            @Html.Partial("_EncabezadoEscenario")
            @Html.Partial("_CuerpoEscenario")
            @Html.Partial("_OtrosColaboradoresEscenario")
            @Html.Partial("_GridEmpleados")
        </div>

        <div class="modal fade  bd-example-modal-lg " id="ModalOtrosColaboradores" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="jumbotron-cuerpo">
                            @Html.Partial("_ModalAnotadores")
                        </div>
                        <div class="jumbotron-cuerpo center">
                            <button id="btnAgregar" type="button" class="btn btn-light" data-dismiss="modal">Agregar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>