<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/FormScripts/Formulario.js"></script>

    @Html.Hidden("fechasConcatendas", (string)ViewBag.DiasFestivosSabadosDomingos)
    @Html.Hidden("inicioFecha", (HtmlString)@Html.Raw(Json.Encode(ViewBag.InicioFecha)))
    @Html.Hidden("finFecha", (HtmlString)@Html.Raw(Json.Encode(ViewBag.FinFecha)))
    @Html.Hidden("MinimoDias", (string)Json.Encode(ViewBag.MinimoDias))
    @Html.Hidden("NombresEmpleado", (string)ViewBag.NombresEmpleado)
    @Html.Hidden("ApellidosEmpleado", (string)ViewBag.ApellidosEmpleado)
    @Html.Hidden("oRespuestaSAPModels", (string)@ViewBag.oRespuestaSAPModels)
    @Html.Hidden("oRespuestaMotor", (string)@ViewBag.oRespuestaMotor)
    @Html.Hidden("NroMinDiasCorreoCompensacion", (HtmlString)@Html.Raw(Json.Encode(@ViewBag.NroMinDiasCorreoCompensacion)))
    @Html.Hidden("CorreoCompensacion", (string)ViewBag.CorreoCompensacion)

    <script>
        $(document).ready(function () {

           crearCalendario();

            $(".kendocalendar").attr("readonly", true);
            $(".kendocalendar").attr("placeholder", "DD/MM/AAAA");
            $("input[class='kendocalendar k-input']").each(function (index) {
                $(this).attr('id', 'kendocalendar_' + index);
            });
            $("#NumDias0").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });
            $('#kendocalendar_1').data('kendoDatePicker').enable(false);

            validarNumDias();
            calcularFechaFin();


            var URL = "@Url.Action("Index", "FinVacaciones",  null)";
            guardarSolicitud(URL)

        });
    </script>
</head>
<body>
    <div class="jumbotron">
        <div class="jumbotron-cuerpo">
            @Html.Partial("_EncabezadoEscenario")
            @Html.Partial("_CuerpoEscenario")
        </div>
    </div>
</body>
</html>
